# packaging
pip>=9
setuptools>=26
wheel>=0.29

# data science
numpy
pandas
scikit-learn
seaborn

# NLP
nltk
top2vec
top2vec[sentence_encoders]
top2vec[sentence_transformers]
top2vec[indexing]

# tests/linter
black
coverage

# API

# utilities
requests
bs4
pytest
jupyter

#GCP
google-cloud-storage
gcsfs
google-cloud-bigquery
