# packaging
pip>=9
setuptools>=26
wheel>=0.29

# data science
numpy
pandas
scikit-learn
seaborn

# NLP
nltk
gensim

# tests/linter
black
coverage

# utilities
requests
bs4
pytest
jupyter

#GCP
google-cloud-storage
gcsfs
google-cloud-bigquery
